.loader {
    border: 15px solid #f3f3f3; /* Light grey */
    border-top: 15px solid #171717; /* Blue */
    border-radius: 100%;
    width: 100px;
    height: 100px;
    animation: spin 5s linear infinite;
  }
  
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.swal-custom-z-index {
  z-index: 50500 !important; /* Ajusta el z-index para estar sobre el modal */
}